[submodule "contrib/flatpak"]
	path = contrib/flatpak
	url = https://github.com/flathub/org.freedesktop.fwupd
[submodule "ai-governance-framework"]
	path = ai-governance-framework
	url = https://github.com/Gavin0099/ai-governance-framework.git
